{{- $icon := "" -}}
{{- if eq .AlertType "note" }}{{ $icon = "📝" }}
{{- else if eq .AlertType "tip" }}{{ $icon = "💡" }}
{{- else if eq .AlertType "warning" }}{{ $icon = "⚠️" }}
{{- else if eq .AlertType "caution" }}{{ $icon = "🔥" }}
{{- else if eq .AlertType "important" }}{{ $icon = "📢" }}
{{- end -}}

{{ if eq .Type "alert" }}
  <blockquote class="alert alert-{{ .AlertType }}">
    <div class="alert-title">
      {{- if $icon -}}
        <span class="alert-icon">{{ $icon }}</span>
      {{- end -}}
      <span class="alert-text">
        {{- with .AlertTitle }}{{ . }}{{ else }}{{ title .AlertType }}{{ end -}}
      </span>
    </div>
    <div class="alert-content">
      {{ .Text }}
    </div>
  </blockquote>
{{ else }}
  <blockquote class="regular-blockquote">
    {{ .Text }}
  </blockquote>
{{ end }}
